body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "col1"
    "coll1"
    "footer";
  gap: 1rem;
  min-width: 300px;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  padding: 0;
}

.illustration {
  display: block;
  margin: 0 auto;
  max-width: 500px;
  padding: 0 2rem;
}

/*the features*/
.cards li {
  color: white;
  margin: auto;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #a10232;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards h3, p {
  margin: 0;
}

.cards p, .cards-2 p {
  flex-grow: 1;
}

.cards ul {
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "col1";
  gap: 1rem;
}

/*h3 card headers*/
.cards h3 {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  line-height: 1;
}


.cards-2 h3 {
  font-family: 'VT323', monospace;
  font-size: 1.5rem;
  line-height: 1;
}

/*trends/behaviour*/
.cards-2 li {
  color: white;
  margin: auto;
  width: 100%;
  padding: 1rem;
  border-radius: 8px;
  background-color: #050255;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cards-2 ul {
  padding: 0;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "col1";
  gap: 1rem;
}

.cards-2 h3, p {
  margin: 0;
}

li p a {
  color: #a181da;
}

body section {
  padding: 0 .7rem;
  max-width: 1400px;
  margin: 0 auto;
}

body > section {
  padding-top: 1.5rem;
}

.wrapper {
  background-image: url("../images/girl-looking-at-phone.jpg"); width: 100%; min-height: 700px;
  grid-area: banner;
  background-position: center;
  background-size: cover;
}

.wrapper-2, .wrapper-3 {
  background-image: url("../images/glitch-body-background.jpg"); width: 100%; height: 100%;
  background-position: left;
  grid-area: col1;
}

.wrapper-3 {
  grid-area: coll1;
}

.good-quote {
  font-size: 2rem;
  text-align: center;
  line-height: 1.2;
  color: #a181da;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  margin-bottom: 1rem;
}

.button-2 {
  background-color: #a10232;
  font-family: 'ZCOOL QingKe HuangYou', cursive;
  font-weight: bold;
  color: white;
  text-decoration: none;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 10px;
  transition: ease-out .2s;

  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.good-quote > a {
  font-size: 1.5rem;
}

section > p {
  background-color: black;
}

.button-2 {
  padding: 0 50px;
  margin: 1rem auto;
}

@media only screen and (min-width: 38em) {

  .cards-2 ul, .cards ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "col1 col2";
    gap: 1rem;
  }

  .apply-flex {
    display: flex;
    flex-direction: column;
  }

  .cards-2 li, .cards li {
    height: 100%;
  }
}

@media only screen and (min-width: 60em) {
  .cards ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "col1 col2 col3 col4";
    gap: 1rem;
  }

  .cards-2 ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "col1 col2 col3";
    gap: 1rem;
  }
}
