html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: "Proxima Nova", sans;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #111;
}

img {
  display: block;
  width: 100%;
}

header {
  color: #fff;
  background-color: #000;
  background-image: url(../"wavebanner.png");
  height: 20em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
}

nav {

}

h1, h2, h3 {
  color: #fff;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}
.buttons {
  color: #fff;
  text-decoration: none;
}

.open-button {
  padding: .5rem;
  border: .2rem solid #fff;
  font-size: 1.125rem;
}

.closed-button {
  padding: .5rem;
  font-size: 1.125rem;
  background-color: #f9013f;
}

p {
  color: #fff;
  font-size: 1.25rem;
}

footer {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #000;
}

.contentinfo {
  font-size: 1rem;
}

ul {
  list-style: none;
}

.type-of-work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
}
