html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  display: block;
  margin: 0;
  background-color: #fffbfa;
  font-family: "Noto Sans", sans-serif;
  width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
}

.deck-list,
.card-list {
  display: grid;
  grid-template-columns: 1fr;
}

/* ============================ */
/* ======= Navigation ========= */
/* ============================ */

nav {
  padding: 0 1rem;
  display: grid;
  place-items: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  gap: .25em .5em;
}

.nav-list {
  display: flex;
  justify-content: end;
  align-items: center;
}

nav ul li {
  padding: 0;
}

nav a {
  background-color: rgba(0, 0, 0, .7);
  color: #fff;
  font-weight: bold;
  border-radius: 2em;
}

nav a:hover,
nav a:focus {
  background-color: rgba(255, 255, 255, .9);
  color: #181846;
}

nav .current {
  border: solid 2px #fff;
}

.logo {
  align-self: flex-start;
  margin-right: auto;
  border-radius: .5em;
}

.logo.current {
  border: none;
}

.logo a {
  background-color: transparent;
  padding: .125em;
  width: 3.5em;
  transition: all 200ms ease-in-out;
}

.logo .icon-label {
  display: none;
}

.logo img {
  display: block;
  width: 100%;
}

.logo a:hover,
.logo a:focus {
  background-color: rgba(221, 119, 255, .5);
  border-radius: .5em;
}

.dropdown-label {
  border: none;
  font-family: inherit;
  display: inline-flex;
  align-items: center;
  transition: all 150ms ease-in-out;
}

.dropdown-label:hover,
.dropdown-label:focus {
  color: #181846;
}

.dropdown-label::after {
  display: inline-block;
  content: "";
  border: .35em solid transparent;
  border-top-color: rgba(255, 255, 255, .85);
  margin-left: .25em;
  margin-top: .5em;
  transform: translateY(.15em);
}

.dropdown-label:hover::after,
.dropdown-label:focus::after {
  border-top-color: #181846;
}

nav ul li a,
.dropdown-label {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  font-size: 1.125em;
  color: #fff;
  padding: .75em 1em;
}

.dropdown {
  position: relative;
}

.dropdown .dropdown-list {
  border-radius: 4px;
  padding: .5em 0;
  min-width: 12em;
  position: absolute;
  top: calc(100% - .25rem);
  left: 50%;
  transform: translateX(-50%);
  transform-origin: top center;
  opacity: 0;
  visibility: hidden;
  transition: 280ms all 150ms ease-out;
}

.dropdown .dropdown-list a {
  background-color: rgba(255, 255, 255, .9);
  color: #5065c2;
  display: block;
  padding: .5em;
  transition: all 150ms ease-in-out;
  font-weight: normal;
}

.dropdown-list a.current {
  font-weight: bold;
  color: #181846;
  border: solid 2px #181846;
}

.dropdown-list a:hover,
.dropdown-list a:focus {
  background-color: #181846;
  color: #fff;
}

.skip-links {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.skip-links a {
  position: absolute;
  top: -3em;
}

.skip-links a:focus {
  top: 0;
  background: #fff;
  padding: 1em;
  border-radius: .5em;
  z-index: 100;
}

main {
  display: grid;
  padding: 3em 1em;
  gap: 1em;
  position: relative;
  top: -13em;
  transition: all 150ms ease-in-out;
  grid-template-areas:
    "intro"
    "area1"
    "area2";
}

.area-1 {
  grid-area: area1;
  padding: 1em;
}

.area-2 {
  grid-area: area2;
  padding: 1em;
}

a {
  color: #5065c2;
}

main a:visited {
  color: #181846;
}

a:focus {
  outline: 3px solid rgba(24, 24, 70, .8);
}

a img {
  display: block;
}

a#nav-btn {
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 20;
  padding: .5em;
  border-radius: .5em;
}

a#nav-btn:hover,
a#nav-btn:focus {
  background: rgba(255, 255, 255, .8);
}

a#nav-btn > i span {
  display: none;
}

.intro {
  display: flex;
  flex-direction: column;
  background: #fff;
  border: solid 6px #ccc;
  border-radius: 1em;
  padding: 1.5em;
  z-index: 10;
  max-width: 40em;
  margin: 0 auto;
  box-shadow: 0 1em 1em rgba(0, 0, 0, .25);
  grid-area: intro;
  opacity: 1;
  animation: slide-fade-in 300ms 150ms ease-in-out;
}

.intro-heading {
  margin: 0;
}

.intro-blurb {
  padding: 0 .5em;
}

.button {
  display: inline-block;
  border: solid 4px #09554e;
  border-radius: 1em;
  background-color: #0c7268;
  color: #fff;
  font-weight: bold;
  padding: 1em;
  text-decoration: none;
  margin: 1em;
  transition: all 150ms ease-in-out;
  text-align: center;
}

.button:visited {
  color: #fff;
}

.button:hover,
.button:focus {
  background-color: #17a597;
  text-decoration: underline;
  border-bottom: solid 8px #09554e;
  margin-bottom: calc(1em - 4px);
}

.button span {
  position: relative;
}

.button span::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: .5em;
  height: .5em;
  top: -.5em;
  left: -.5em;
  background-color: #c2f1ed;
  transform: rotate(45deg);
}

.button span::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: .4em;
  height: .4em;
  bottom: -.5em;
  right: -.5em;
  z-index: 14;
  background-color: #c2f1ed;
  transform: rotate(45deg);
}

.button:hover span::after,
.button:focus span::after {
  animation: sparkle 700ms 150ms ease-in-out;
}

.button:hover span::before,
.button:focus span::before {
  animation: sparkle 500ms 400ms ease-in-out;
}

.intro .button {
  margin-left: auto;
  margin-right: auto;
}

h1, h2, h3 {
  font-family: "Noto Serif", serif;
  font-weight: bold;
}

.intro h2 {
  color: #181846;
}

.banner h1 {
  z-index: 10;
  font-size: 3em;
  line-height: .9;
  position: absolute;
  bottom: 3.5em;
  color: #fff;
  text-shadow:
    -3px -3px 0 #000,
    0 -3px 0 #000,
    3px -3px 0 #000,
    3px  0   0 #000,
    3px  3px 0 #000,
    0 3px 0 #000,
    -3px  3px 0 #000,
    -3px  0   0 #000,
    3px  6px 0 #000,
    0 6px 0 #000,
    -3px  6px 0 #000,
    -3px  0   0 #000;
  transition: all 150ms ease-in-out;
  margin: 0;
}

h1::first-letter {
  font-size: 1.5em;
  color: #d7f;
  vertical-align: text-top;
}

nav#nav {
  z-index: 6;
  display: none;

  /* opacity: 0;
  height: 0;
  overflow: hidden; */
  transition: all 150ms ease-in-out;
}

.icon {
  display: inline-block;
  position: relative;
  background: transparent none no-repeat 50%;
  background-size: contain;
  vertical-align: middle;
}

.i-24 {
  height: 24px;
  width: 24px;
}

.list-icon {
  height: 3em;
  width: 3em;
  min-width: 3em;
}

.icon-label {
  display: none;
  display: inline-block;
}

.icon svg {
  width: 100%;
  height: 100%;
}

.banner {
  position: relative;
  background: #ccc;
  height: 22em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 1em;
  padding: 1em;
}

.banner::before {
  position: absolute;
  width: 101%;
  content: "";
  background: #fffbfa;
  height: 6em;
  left: 0;
  bottom: -6em;
  transform-origin: 0;
  transform: rotate(-2deg);
}

.banner::after {
  position: absolute;
  width: 101%;
  content: "";
  bottom: -1em;
  left: 0;
  display: block;
  background: #fff;
  border-top: solid 8px #000;
  border-bottom: solid 8px #000;
  height: 2em;
  z-index: 0;
  transform-origin: 0;
  transform: rotate(-2deg);
}

.home-banner {
  background-image: linear-gradient(-10deg, black, transparent, black), url("../images/cards-2400.jpg");
}

.decks-banner {
  background-position: 0% 30%;
  background-image: linear-gradient(-10deg, black, transparent, black), url("../images/decks-2400.jpg");
}

.deck-01-banner {
  background-position: 0% 40%;
  background-image: linear-gradient(-10deg, black, transparent, black), url("../images/egyptian-god-cards-landscape-2500.jpg");
}

.card-01-banner {
  background-position: 0% 37%;
  background-image: linear-gradient(-10deg, black, transparent, black), url("../images/blue-eyes-white-dragon-1600.jpg");
}

.item-list {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 2em;
}

.simple-list {
  gap: .25em;
}

.item-list li {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #efefef;
  border-radius: 1em;
}

.item-list > li a {
  text-decoration: none;
  position: relative;
  padding: .5em 1em .5em .5em;
  border-radius: .5em;
  display: flex;
  gap: 1em;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  height: 5em;
}

.item-list > li a:hover,
.item-list > li a:focus {
  text-decoration: underline;
  background-color: #c2f1ed;
}

.item-list > li a:hover i.list-icon,
.item-list > li a:focus i.list-icon {
  animation: bounce 500ms ease-in-out infinite;
}

.item-list > li a i::after {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: 25%;
  height: 25%;
  top: 0;
  background-color: #ff5;
  transform: rotate(45deg);
}

.item-list > li a i::before {
  content: "";
  display: block;
  position: absolute;
  opacity: 0;
  width: 20%;
  height: 20%;
  bottom: 0;
  right: 0;
  z-index: 4;
  background-color: #ff5;
  transform: rotate(45deg);
}

.item-list > li a:hover i.list-icon::after,
.item-list > li a:focus i.list-icon::after {
  animation: sparkle 700ms 150ms ease-in-out;
}

.item-list > li a:hover i.list-icon::before,
.item-list > li a:focus i.list-icon::before {
  animation: sparkle 500ms 400ms ease-in-out;
}

.deck-count, .card-level {
  display: block;
  font-size: .85em;
  font-weight: bold;
  color: #09554e;
}

.card-level {
  display: inline-block;
  color: #000;
}

.deck-description {
  margin-top: .25em;
}

.deck-name {
  font-weight: bold;
}

.card-level .inline-icon {
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.card-list li a {
  flex-direction: column;
  height: auto;
  text-align: center;
}

.card-list li p {
  font-size: .9em;
  margin: 0;
}

.card-list li .card-type {
  margin-top: auto;
}

footer {
  display: block;
  background-color: #181846;
  padding: 1em 1em 2em;
  margin-top: 1em;
  border-top: 4px solid #7786c8;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.copyright {
  display: block;
  font-size: .8784rem;
  text-align: right;
  color: #7786c8;
}

nav#nav.nav-open {
  height: 100%;
  opacity: 1;
  z-index: 20;
}

.disabled a,
.disabled a:visited {
  color: #555;
  font-style: italic;
}

.disabled a:hover,
.disabled a:focus,
.item-list > li.disabled a:hover,
.item-list > li.disabled a:focus {
  text-decoration: none;
  background-color: #ddd;
}

.card-layout {
  padding: 1em;
  align-items: center;
}

.card-layout h2 {
  font-size: .85rem;
}

.artwork {
  margin: 1em 0 0;
  display: block;
  overflow: hidden;
  width: 10em;
  height: 10em;
  border: 5px solid #333;
}

.artwork img {
  width: 100%;
}

.card-desc {
  padding: 1em;
  border: 5px solid #eee;
  position: relative;
}

.card-stats {
  align-self: flex-end;
}

/* Medium Screens */

@media only screen and (min-width: 38em) {

  main {
    top: 0;
    padding: 3em 3em 6em;
    margin: 0 auto;
    max-width: 80em;
    grid-template-areas:
      "intro intro"
      "area1 area2";
  }

  main.cards-main {
    grid-template-areas:
      "intro"
      "area1"
      "area2";
  }

  .banner {
    padding: 1em calc((100vw - 80em) / 2);
  }

  .deck-list,
  .card-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5em;
  }

  .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .deck-list li,
  .card-list li {
    padding: 1em;
    border: none;
  }

  .deck-list.item-list li.disabled {
    background: #f5f5f5;
  }

  .intro .deck-list li,
  .intro .card-list li {
    padding: 0;
  }

  nav#nav {
    display: block;
    opacity: 1;
    padding: 0 1em;
  }

  a#nav-btn {
    display: none;
  }

  .banner h1 {
    bottom: -.5em;
    margin-left: 1em;
  }

  .card-layout {
    padding: 2em;
  }

  .card-layout h2 {
    font-size: 1.5rem;
  }

  .artwork {
    width: 20em;
    height: 20em;
  }

  .card-desc {
    padding: 1.5em;
  }

}

@media only screen and (min-width: 48em) {

  .logo a {
    width: 5em;
    padding: .5em;
  }

  .logo a:hover,
  .logo a:focus {
    border-radius: 1em;
  }

  .card-list {
    grid-template-columns: repeat(4, 1fr);
  }

  .intro .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

}

/* Large Screens */

@media only screen and (min-width: 60em) {

  main {
    top: -1em;
  }

  .deck-list,
  .card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .card-list {
    grid-template-columns: repeat(6, 1fr);
  }

  .intro .card-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /* .i-24 {
    height: 18px;
    width: 18px;
  } */

  /* .list-icon {
    height: 2em;
    width: 2em;
    min-width: 2em;
  } */

  .logo a {
    width: 6em;
  }

  .banner h1 {
    bottom: -.25em;
    font-size: 4em;
  }

}

@keyframes slide-fade-in {

  0% {
    margin-top: 1em;
    margin-bottom: -1em;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 1;
  }

}

@keyframes bounce {

  0%, 100% { transform: translateY(0); }

  50% { transform: translateY(-1px); }

}

@keyframes sparkle {

  0% { opacity: 0; transform: rotate(45deg); }

  50% { opacity: 1; transform: rotate(135deg); }

  100% { opacity: 0; transform: rotate(45deg); }

}

@media (prefers-reduced-motion) {

  .intro,
  .button:hover span::after,
  .button:focus span::after,
  .button:hover span::before,
  .button:focus span::before,
  .item-list > li a:hover i.list-icon,
  .item-list > li a:focus i.list-icon,
  .item-list > li a:hover i.list-icon::after,
  .item-list > li a:focus i.list-icon::after,
  .item-list > li a:hover i.list-icon::before,
  .item-list > li a:focus i.list-icon::before {
    animation: none;
  }

}

/* @media (prefers-color-scheme: dark) {

  body {
    background-color: #111;
  }

  .banner {
    background-color: #333;
  }

  .banner::before {
    background: #111;
  }

  h1, h2, h3 {
    color: #fff;
  }

  section {
    color: #eee;
  }

  section a {
    color: #eee;
  }

  section a:visited {
    color: #d3d3d3;
  }

  section a:hover,
  section a:focus {
    color: #181846;
  }

  section .disabled a,
  section .disabled .deck-count {
    color: #555;
  }

  .item-list li {
    background-color: #0c0c0c;
    border: 1px solid #090909;
  }

  .intro {
    color: #181846;
  }

  .intro .deck-name {
    color: #09554e;
  }

  .intro .disabled .deck-name {
    color: #555;
  }

  .intro .item-list li {
    background-color: #fff;
    border: none;
  }

} */
