body {
  min-width: 300px;
  margin: 0;
  padding: 0;
}

h2 {
  padding-left: 2rem;
}

section ul {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

section > h3 {
  margin-top: 0;
}

p {
  margin-top: .2rem;
}

.cards {
  background-color: #a10232;
  padding: .5rem 0;
  margin: 1rem 2rem;
  border-radius: 15px;
}

section a {
  color: #050255;
}

img {
  width: 100%;
}

h3 {
  margin: 0;
}

.wrapper {
  background-image: url("../images/pexels-cottonbro-4881648.jpg"); width: 100%; height: 700px;
  grid-area: banner;
  background-position: center;
  background-size: cover;
}

main {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "col1"
    "coll1";
    gap: 1rem;
}

.wrapper-2 {
  grid-area: col1;
  padding: 0 .7rem;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper-3 {
  grid-area: coll1;
  padding: 0 .7rem;
  max-width: 1400px;
  margin: 0 auto;
}

.wrapper-2 > h2 {
  padding-top: 1rem;
}
