body {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "banner"
    "col1"
    "coll1"
    "footer";
  gap: 1rem;
  min-width: 300px;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

body section {
  padding: 0 1.5rem;
}

.wrapper {
  background-image: url("../images/pexels-cottonbro-4881648-2.jpg"); width: 100%; min-height: 700px;
  grid-area: banner;
  background-position: bottom;
  background-size: cover;
}

.wrapper-3 {
  grid-area: coll1;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 60em) {

}

@media only screen and (min-width: 90em) {

}
